<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="SC-701" value="https://drojas.pkgs.visualstudio.com/SC-701/_packaging/SC-701/nuget/v3/index.json" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="githubfeed" value="https://nuget.pkg.github.com/githubusername/index.json" />
    <add key="Paquetes" value="https://nuget.pkg.github.com/Drojascode/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="SC-701" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <githubfeed>
        <add key="Username" value="GithubUserName" />
        <add key="ClearTextPassword" value="generatedaccesstoken" />
      </githubfeed>
    <Paquetes>
      <add key="Username" value="Drojascode" />
      <add key="ClearTextPassword" value="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" />
    </Paquetes>
  </packageSourceCredentials>
</configuration>